{% set _route = app.request.get('_route') %}

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" xmlns="http://www.w3.org/1999/html">
    <!-- sidebar: style can be found in sidebar.less -->

    <div class="sidebar nav-collapse" >
        <!-- Sidebar user panel -->
           <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('home_index') }}">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if 'home_index' in _route %}active{% endif %}">
        <a class="nav-link" href="{{ path('home_index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if 'mitarbeiter_index' in _route %}active{% endif %}">
        <a class="nav-link" href="{{ path('mitarbeiter_index') }}">Mitarbeiter</a>
      </li>
      <li class="nav-item {% if 'speisekarte_index' in _route %}active{% endif %}">
        <a class="nav-link" href="{{ path('speisekarte_index') }}">Speise karte</a>
      </li>
      <li class="nav-item {% if 'reservierung_index' in _route %}active{% endif %}">
        <a class="nav-link" href="{{ path('reservierung_index') }}">Reservierung</a>
      </li>
      <li class="nav-item {% if 'standort_index' in _route %}active{% endif %}">
        <a class="nav-link" href="{{ path('standort_index') }}">standort</a>
      </li>
    </ul>
  </div>
</nav>
    </div>

    <!-- /.sidebar -->
</aside>